.form-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;


}
.input-preco{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnQuebrarPorquinho{

    border: solid 1px;

}