.Dado-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.numeroDado{

    font-size: 200px;

}
.btnJogar{

    width: 200px;
    height: 100px;
    border: 0;
    border-radius: 180px;
    background-color: #222;
    color: #fff;

}
.btnJogar:hover{

    width: 220px;
    transition: 0.2s;
    height: 100px;
    cursor: pointer;
    border: 5px solid #00ff00;
    color: #00ff00;
    border-radius: 180px;
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 15px #00ff00;


}